@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/*==========================================*/
/*                  HEADER                  */
/*==========================================*/
header {
    height: 750px;
    background-image: linear-gradient(to right,
            #fff,
            #fff 65%,
            var(--secondary-color) 55%,
            var(--secondary-color) 100%);
    padding: 0 172px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

nav .logo-wrap {
    width: 80px;
    height: 80px;
}

nav .logo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==========================================*/
/*               MENU HEADER                */
/*==========================================*/
ul {
    display: flex;
    list-style: none;
    gap: 64px;
}

ul a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2em;
}

ul a:hover {
    color: var(--secondary-color);
    padding-bottom: .4rem;
    border-bottom: .2rem solid var(--secondary-color);
    transition: .2s linear;
}

.search-wrap {
    display: flex;
    gap: 32px;
    align-items: center;
}

.search {
    display: flex;
    border: 3px solid;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    gap: 8px;
    background-color: #fff;
}


.search input {
    outline: none;
    border: none;
}

/*==========================================*/
/*            HEADER CONTENT                */
/*==========================================*/

header .content {
    width: 500px;
    font-size: 20px;
    color: var(--text-color);
    margin-top: 80px;
}

header .content .title-os {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
}

header .content .desc {
    width: 390px;
}

header .content .title-os span {
    color: var(--secondary-color);
}

.button,
.about-us .content button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #2b1d02;
    color: #fff;
    width: max-content;
    padding: 8px 16px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 16px;
    box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.4);
}


.button:hover,
.about-us button:hover {
    transform: scale(1.14);
    transition: .13s linear;

}

/*==========================================*/
/*                ALL TITLE                 */
/*==========================================*/
.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 36px;
    color: var(--text-color);
}

.title span {
    border-bottom: 4px solid var(--secondary-color);
}


/*==========================================*/
/*           HEADER COFFEE IMAGE            */
/*==========================================*/

header .coffee {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 20%;
    left: 52%;

}

header .coffee img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .coffee-item {
    position: absolute;
    right: 0;
    top: 0;
}

header .coffee-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==========================================*/
/*              HEADER CATEGORIES           */
/*==========================================*/

.categories {
    background: #f6ebda;
    padding: 36px 186px;
    gap: 140px;
    width: max-content;
    border-radius: 56px;
    position: relative;
    margin-bottom: 12em;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.categories .cate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.categories .cate:nth-child(2) {
    color: #a0583c;
}

.categories .cate-logo {
    width: 80px;
    height: 80px;
}

.categories .cate-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*==========================================*/
/*               COLD COFFEE                */
/*==========================================*/

main {
    display: block;
    margin-top: 170px;
}

main>div {
    margin: 64px 0;
}

.cold-coffee {
    background-color: var(--background-color);
    padding: 0 172px;
    flex-direction: column;
    align-items: flex-start;
}

.cold-coffee .content {
    gap: 36px;
}

.cards {
    padding: 17px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 24px;
    flex-direction: column;
    flex: 1;
    /* flex-grow: 1;flex-shrink: 1;flex-basis: 0%; */
    font-weight: 500;
    box-shadow: 0px 4px 15px -3px var(--text-color), 0 2px 5px var(--secondary-color);
}

.cards:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.cards:hover .content_card p {
    color: var(--primary-color);
    transition: 0.3s;
}


.cold-coffee .cards .content-title {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0;
}

.cold-coffee .cards .content-image {
    width: 100%;
    height: fit-content;
}

.cold-coffee .cards .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cards .price-button {
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 550;
}

.cards .price-button button {
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    font-weight: 550;
    color: #f5ecdf;
    cursor: pointer;
    background-color: var(--tertiary-color);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 1);
}

/*==========================================*/
/*              REWARD BANNER               */
/*==========================================*/

.sign-up {
    align-items: center;
    background-color: #f6ebda;
    padding: 30px 172px;
    gap: 32px;
    font-size: 1.2em;
}

/*==========================================*/
/*               SPECIAL MENU               */
/*==========================================*/

.menu {
    padding: 0 172px;
}

.menu .cards {
    margin-bottom: 2.4em;
}

.menu .cards .price-button {
    margin-top: 12px;
}

.menu .content {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4em;
}

/*==========================================*/
/*                 ABOUT US                 */
/*==========================================*/

.about-us {
    background-color: #f6ebda;
    padding: 50px 172px;
    gap: 5em;
}

.about-us .image {
    width: 620px;
    height: 400px;
}

.about-us .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 65%;
    border-radius: 16px;
    border: 3px #fff solid;
}

.about-us .content {
    flex-direction: column;
}

.about-us .content .sub-title {
    font-weight: 700;
    font-size: 120%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.about-us .content p:not(.sub-title) {
    width: 600px;
}

.about-us .content button {
    color: var(--secondary-color);
}

/*==========================================*/
/*                    FOOTER                */
/*==========================================*/

.footer {
    margin: 0 172px;
    margin-bottom: 20px;
}

.footer .logo-wrap {
    width: 80px;
    height: 80px;
}

.footer .logo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-header .footer-logo p {
    font-weight: 600;
    color: var(--text-color);
}

.footer .footer-header,
.footer .footer-logo {
    align-items: center;
    justify-content: space-between;
}

.footer .footer-header .social-icon i {
    margin-left: 10px;
    color: black;
}

hr {
    margin: 10px 0;
}

.footer-content ul {
    flex-direction: column;
    gap: 1.2em;
}

.footer-content div {
    justify-content: space-between;
    /* padding-left: 120px; */
}

.footer-content .mail .mail-wrap input,
.footer-content .mail .mail-wrap button {
    margin-top: -20px;
    padding: 10px 10px;
    border: none;
    outline: none;
}

.footer-content .mail .mail-wrap input {
    background-color: #f6ebda;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: var(--primary-color);
}

.footer-content .mail .mail-wrap button {
    background-color: var(--primary-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--secondary-color);
}