@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/*==========================================*/
/*                  HEADER                  */
/*==========================================*/
header {
    height: 750px;
    background-image: linear-gradient(to right,
            #fff,
            #fff 65%,
            var(--secondary-color) 55%,
            var(--secondary-color) 100%);

    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 172px;
}

nav .logo-wrap {
    width: 80px;
    height: 80px;
}

nav .logo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==========================================*/
/*               MENU HEADER                */
/*==========================================*/
ul {
    display: flex;
    list-style: none;
    gap: 64px;
}

ul a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2em;
}

ul a:hover {
    color: var(--secondary-color);
    padding-bottom: .4rem;
    border-bottom: .2rem solid var(--secondary-color);
    transition: .2s linear;
}

.search-wrap {
    display: flex;
    gap: 32px;
}

.search {
    display: flex;
    border: 3px solid;
    height: 40px;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    gap: 8px;
    background-color: #fff;
}

.search .icon-wrap {
    display: flex;
    align-items: center;
}

.search input {
    outline: none;
    border: none;
}

/*==========================================*/
/*            HEADER CONTENT                */
/*==========================================*/

header .content {
    width: 740px;
    font-size: 20px;
    color: var(--text-color);
    margin-top: 52px;
    padding-left: 172px;
}

header .content .outstanding-title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
}

header .content .main-title {
    width: 390px;
}

header .content .outstanding-title span {
    color: var(--secondary-color);
}

.button,
.about-us button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #2b1d02;
    color: #fff;
    width: max-content;
    padding: 8px 16px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}


.button:hover,
.about-us button:hover {
    transform: scale(1.14);
    transition: .12s linear;

}

/*==========================================*/
/*                ALL TITLE                 */
/*==========================================*/
.title {
    font-size: 2em;
    font-weight: 508;
}

.title::after {
    position: relative;
    content: "";
    display: block;
    width: 7.7%;
    border: 2px solid var(--secondary-color);
    top: -5px;
}

.content .title::after {
    left: 23.5%;
}

.cold-coffee .title::after {
    left: 7.6%;
}

.menu .title::after {
    left: 20.5%;
}

/*==========================================*/
/*           HEADER COFFEE IMAGE            */
/*==========================================*/

.coffee {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 20%;
    left: 52%;

}

.coffee img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coffee-item {
    position: absolute;
    right: 0;
    top: 0;
}

/*==========================================*/
/*              HEADER CATEGORIES           */
/*==========================================*/

.categories {
    display: flex;
    background: #f6ebda;
    padding: 28px 186px;
    padding-top: 36px;
    gap: 140px;
    width: max-content;
    border-radius: 48px;
    position: relative;
    margin-bottom: 12em;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;

}

.categories .cate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.categories .cate:nth-child(2) {
    color: #a0583c;
}

.categories .cate-logo {
    width: 90px;
    height: 90px;
}

.categories .cate-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*==========================================*/
/*               COLD COFFEE                */
/*==========================================*/

.cold-coffee {
    margin-top: 180px;
    background-color: var(--background-color);
    padding: 0 172px;
}

.cold-coffee .emphasis-card {
    gap: 2.6em;
}

.cards {
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 20px;
    color: white;
    margin-top: 2em;
    box-shadow: 3px 3px 10px var(--text-color), 0 0 7px var(--secondary-color);
}

.cards:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.cards:hover .content_card p {
    color: var(--primary-color);
    transition: 0.3s;
}

.cards .content_card {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cold-coffee .emphasis-card .cards .content_card p {
    color: #d3c6bf;
}

.cards .price-button {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 550;
}

.cards .price-button button {
    padding: .5em 1em;
    border: none;
    border-radius: 10px;
    font-weight: 550;
    color: #f5ecdf;
    cursor: pointer;
    background-color: var(--tertiary-color);
}

/*==========================================*/
/*              REWARD BANNER               */
/*==========================================*/

.reward-banner {
    align-items: center;
    background-color: #f6ebda;
    padding: 30px 172px;
    border-radius: 8px;
    margin: 40px 0;
}

.icon {
    margin-right: 10px;
}

.text p {
    margin: 0;
    font-size: 1.5em;
    color: #3c2d1d;
    font-weight: bold;

}

.text a {
    text-decoration: none;
    font-size: 1em;
    color: #3c2d1d;
    font-weight: bold;
}

/*==========================================*/
/*               SPECIAL MENU               */
/*==========================================*/

.menu {
    padding: 0 172px;
}

.menu .cards .price-button {
    padding-top: 0;
}

.grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.8em;
}

/*==========================================*/
/*                 ABOUT US                 */
/*==========================================*/

.about-us {
    background-color: #f6ebda;
    padding: 50px 172px;
    margin-top: 4em;
}

.about-us .picture {
    width: 24em;
    height: 20em;
}

.about-us .picture img {
    width: 100%;
    height: 100%;
    border: 5px solid #faf4eb;
    border-radius: 16px;
    object-fit: cover;
    object-position: 0px -100px;
    box-shadow: 2px 2px 6px #988b7d;
}

.about-us .content {
    flex-direction: column;
    color: var(--text-color);
    gap: 0.4em;
    margin-top: 30px;
}

.about-us .content h4 {
    font-weight: 520;
}

.about-us .content button {
    background-color: #3c2d1d;
    color: var(--secondary-color);
}

.about-us .content button:hover,
.cards .button:hover,
.button p {}

/*==========================================*/
/*                    FOOTER                */
/*==========================================*/

.footer {
    flex-direction: column;
    gap: 2em;
    padding-bottom: 60px;
}

.footer nav {
    display: flex;
    justify-content: space-between;
}

.logo-wrap {
    align-items: center;
    gap: 10px;
}

.logo-wrap img {
    width: 40px;
    height: 40px;
}

.logo-wrap p,
.newsletter {
    font-size: 1.4rem;
    font-weight: 550;
    color: var(--text-color);
}

.social-icons {
    display: flex;
    /* Xoa dau gach duoi*/
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.nav-links {
    flex-direction: column;
    align-items: start;
    gap: 1em;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    color: #a0583c;
    font-weight: 650;
}

.nav-links a:hover {
    padding-bottom: .4rem;
    border-bottom: .2rem solid var(--secondary-color);
    transition: .2s linear;
    color: var(--secondary-color);
}

.footer-bottom {
    justify-content: space-between;
    align-items: center;
    padding: 0px 290px;
}

.newsletter {
    flex-direction: column;
    gap: 1em;
}

.input-data input,
.input-data button {
    padding: 1em 1em;
    border: none;
}

.input-data input {
    background-color: #f6ebda;
    color: var(--text-color);
}

.input-data button {
    background-color: var(--primary-color);
    color: #d3c6bf;
}

.input-data button:hover {
    background-color: var(--secondary-color);
    transition: .5s linear;
    cursor: pointer;
}