@import "variables.css";

/* MOBILE: width < 740px */
@media (max-width: 739px) {
    header {
        padding: 0 16px;
        height: auto;
    }

    nav {
        position: relative;
        z-index: 10;
    }

    nav ul {
        font-size: 0.8em;
        gap: 36px;
    }

    .search-wrap .search {
        display: none;
    }

    header .content {
        font-size: 16px;
        max-width: 280px;
        margin-top: 24px;
    }

    header .content .title-os {
        font-size: 24px;
    }

    header .coffee {
        width: 120px;
        height: 120px;
        left: 60%;
        top: 30%;
    }

    header .coffee-item {
        z-index: 1;
        width: 180px;
    }

    .categories {
        font-size: 12px;
        padding: 24px;
        margin-top: 2em;
        gap: 24px;
        border-radius: 16px;
    }

    .categories .cate .cate-logo {
        width: 40px;
        height: 40px;
    }

    .categories .cate .cate-logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cold-coffee {
        padding: 0 16px;
        margin-top: -6em;
    }

    .cold-coffee .content {
        flex-direction: column;
        padding: 0 32px;
        gap: 32px;
    }

    .cold-coffee .content .cards {
        width: 100%;
    }

    .sign-up {
        padding: 16px 16px;
    }

    .menu {
        padding: 0 5.35em;
    }

    .menu .content {
        grid-template-columns: 1fr;
    }

    .menu .content-image,
    .menu button {
        padding: 0;
    }

    .menu {
        font-size: 1.4em;
    }

    .menu .cost {
        font-size: 0.8em;
    }

    .about-us {
        padding: 24px 16px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .content {
        max-width: 100%;
        box-sizing: border-box;
    }

    .about-us .content .desc {
        max-width: 80%;
    }

    .about-us .title {
        max-width: 200px;
    }

    .about-us .image {
        width: 300px;
        height: 300px;
    }

    .about-us .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .footer {
        margin: 0px;
        padding: 10px;
    }

    .footer-content {
        font-size: 0.8em;
    }

    .footer-content ul {
        gap: 0.4em;
    }

    .footer-content .title {
        font-size: 1.8em;
    }
}

/* TABLET width < 1024px  */
@media (min-width: 740px) and (max-width: 1024px) {
    header {
        padding: 0 96px;
        height: 550px;
    }

    nav {
        position: relative;
        z-index: 10;
    }

    nav ul {
        gap: 32px;
    }

    .search-wrap {
        gap: 16px;
    }

    header .content {
        font-size: 18px;
        max-width: 348px;
        margin-top: 54px;
    }

    header .content .title-os {
        font-size: 32px;
    }

    header .coffee {
        width: 300px;
        height: 300px;
        left: 45%;
    }

    header .coffee-item {
        z-index: 1;
        width: 250px;
    }

    .categories {
        font-size: 18px;
        padding: 36px;
        gap: 72px;
    }

    main {
        margin-top: 124px;
    }

    .cold-coffee {
        padding: 0 96px;
        margin-top: 16em;
    }

    .cold-coffee .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .cold-coffee .content .cards {
        width: 100%;
        flex: none;
    }

    .sign-up {
        padding: 32px 96px;
    }

    .menu {
        padding: 0 96px;
    }

    .menu .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu .content-image,
    .menu button {
        padding: 0 10px;
    }

    .menu {
        font-size: 1.6em;
    }

    .menu .cost {
        font-size: 0.6em;
    }

    .about-us {
        padding: 36px 96px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer {
        padding: 0 16px;
    }
}